@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
  background-color: #1a202c;
  font-family: 'Roboto', sans-serif;
  color: #edf0f4;
  position: relative;
}
/* ***********************************MAIN HEAD******************************************************** */
.about {
 margin-right:5%;
 margin-left:5%;
 margin-bottom:7%;
 letter-spacing: .4rem
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.about-content h1{
  font-size:4rem;
}

.about-content p {
  width:70%;
  font-size: 1rem;
  background-color: #e93578 ;
  margin-left: 1px;

}
.about-content span {
  color: #e93578;
}

.about-img {
  height: 500px;
  width:500px;
}

.about .btn {
  align-self: flex-start;
  letter-spacing: .1rem;
  font-family: 'Roboto', sans-serif;
  background-color: #e4e3e3;
}

/* ***********************************MAIN HEAD******************************************************** */



/* ***********************************ABOUT HEAD******************************************************** */




.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.about-me-title {
  color: #e4e3e3;
  overflow: hidden;
  text-align: center;
}


.about-me-title:before,
.about-me-title:after {
  background-color: #667eea;
  content: "";
  display: inline-block;
  height: 3px;
  width: 10%;
  position: relative;
  vertical-align: middle;
  
}

.about-me-title:before {
  right: 0.5em;
  margin-left: -50%;
}

.about-me-title:after {
  left: 0.5em;
  margin-right: -50%;
}

.about-me img {
  height: 400px;
  margin-left:7%;

}



/* ***********************************ABOUT HEAD******************************************************** */




/* ***********************************PROJECTS******************************************************** */
.project-svj {
  position: relative;
}

.upper-svj {
  width: 100%;
  position: absolute;
  background-color: #e4e3e3 ;
  z-index: -1
}
.project-title {
  margin-top: 10%;
  color: #667eea;
  font-size: 5rem;
  letter-spacing: 0.5rem;
}

.project-content {
  margin-top: 5%;
  background-color: #e4e3e3 ;
  color: #1a202c;
  padding-bottom: 10%;
}

.project-item {
  font-family: Open Sans,sans-serif;
  padding-top:2%;
  padding-bottom:2%;
  padding-left:10%;
  padding-right:10%;
  display:flex;
    align-items: center;
}


.project-item img {
    margin: auto;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    
    

}


.project-item-title {
  background-color:#1a202c ;
  letter-spacing: .3rem;
  display: inline-block;
  color:#e4e3e3 ;
}

.icons {
  padding: .2rem 1rem;
  background-color: #e4e3e3;
  margin-right: 5px;
  border-radius: 10px;
  
}

.project-desc
{
  display: flex;
  align-items: center;

}

.project-desc > div{
  background-color: white;
  border-right: 5px solid  #667eea;
  padding: 2%;
}

.project-desc  button {
  margin-right: 10px;
  padding: .2rem .4rem;
  background-color:  #667eea
}

.find-more button{
  background-color: #667eea;
  color: white;
  box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, .2);
}





/* ***********************************PROJECTS******************************************************** */




/* ***********************************SKILLS******************************************************** */

.skills 
{
  padding: 5%;
}
.skills.about-me-title{
  font-size: 2rem;

}

.skill-icon {
  background-color:  #667eea;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}






/* ***********************************SKILLS******************************************************** */







/* ***********************************NAVBAR******************************************************** */


.triangle{
  position: absolute;
  right: 0;
  z-index: -1;
  height: 400px
}
.navbar{
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {
  margin: auto 30px;

}
.nav-item > a:hover {
  background-color: white;
  color:black !important;
}

/* ***********************************NAVBAR******************************************************** */


@media (min-width: 992px){
  .navbar li {
      margin-left : 1.5em;
      margin-right : 1.5em;
  }
  
}

@media (max-width: 720px)
{
  .triangle{
    display:none
  }
  .about-content{
    text-align: center;
  }
  .about-content p {
    width:100%; 
  }
  .about .btn{
    align-self: center;
  }


}

